## Ihre Anfrage für glabs

Guten Tag{{ if .Name }} {{ .Name }}{{ end }},

Ihre Anfrage auf Freischaltung für glabs wurde nicht angenommen. Sollte es sich um
einen Irrtum handeln, wenden Sie sich bitte an die Administratoren von glabs.
