## Sie sind für glabs freigeschaltet

Guten Tag{{ if .Name }} {{ .Name }}{{ end }},

Ihre Anfrage wurde angenommen: Sie können glabs ab sofort nutzen.
{{ if .Link }}
[glabs öffnen]({{ .Link }})
{{ end }}
