## Deine Anfrage für glabs

Hallo{{ if .Name }} {{ .Name }}{{ end }},

deine Anfrage auf Freischaltung für glabs wurde nicht angenommen. Wenn du glaubst,
dass das ein Irrtum ist, wende dich bitte an die Administratoren von glabs.
